.img-minimalist{
  width: 500px;
}

.intro{
  font-family: 'Anton';
}

.dark-mode {
  background-color: black;
  color: white;
}

.sponsor{
margin-top: 40px;
background-color: lightgrey;
}

.img-sponsor{
  width: 40px;
}

.brand{
  font-family: 'Bebas Neue';
}

.list-font{
  font-family: 'Anton';
}

.text-sp{
  margin-top: 70px;
}

.kerjasama{
  margin-top: 70px;
}




.web-icon {
  height: 80px;
  
}








footer {
  background-color: #2c68dc;
  padding: 1rem 0;
  text-align: center;
}




.navbar1{
  
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.text-frank{
font-family: 'Libre Franklin';
}

.image-shop{
  width: 100px;
}

.card-product{
  color: black;
}



@media (max-width: 425px) {
  .bg-1  {
height: 10px;
    
  }
  
}

@media (max-width: 425px) {
  .nav  {
width: 100%;
    
  }
  
}

@media (max-width: 425px) {
  .nav  {
width: 100%;
    
  }
  
}
@media (max-width: 375px) {
  .nav  {
width: 100%;
    
  }
  
}

@media (max-width: 425px) {
  .brand  {
    align-items: center;
    justify-content: center;
    text-align: center;
    
  }
  
}

@media (max-width: 425px) {
  .img-minimalist  {
    width: 400px;
    height: 300px;
    margin-bottom: 20px;
    justify-content: center;
    text-align: center;


  }



  
  
}

@media (max-width: 425px) {
  .btn-kerjasama {
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
  
  }
  
}


@media (max-width: 768px) {
  .stiky-download {
    display: none;
  
  }
  
}

@media (max-width: 425px) {
  .stiky-download {
    display: none;
  
  }
  
}

@media (max-width: 375px) {
  .stiky-download {
    display: none;
  
  }
  
}

@media (max-width: 375px) {
  .img-minimalist  {
    width: 340px;
    height: 300px;
    margin-bottom: 20px;
    justify-content: center;
    text-align: center;


  }
  
}
@media (max-width: 425px) {
  .intro  {
    text-align: center;
    


  }
}


